.header {
    background: gray;
    margin-left: 22.2vw;
    width: 55.3vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.title {
    font-size: 4rem;
    margin: 1vw 16vw 1vw 1vw;
}

.search {
    height: 3vh;
    width: 15vw;
}